.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(242, 242, 242); */
}
.heading{
  padding-left: 2vw;
  padding-right: 2vw;
}

#logo2{
  /* height:13vh; */
  width: 30vw;
  aspect-ratio: 4/1;
}
.navbar_heading{
  font-size: 2.3vh;
  color: purple;
  font-weight: 600;
}

.navbar{
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* h1{
  margin-bottom: 40px;
} */
.input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.navbar{
  margin-top: 2vh;
}

#logo{
  /* /* height: 16vh; */
  width: 8vw; 
  aspect-ratio: 1 / 1;
}

input{
  height: 20vh;
  width: 7vw;

}
.predictor_heading{
  font-size: 28px;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1px;
  margin-top: 10px;
}




#left_box{
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  /* background-color: red; */
}
.leftInner{
  padding: 10%;
  border: 2px solid black;
  border-radius: 8px;
  margin-left: 5%;
  background: radial-gradient(
    circle,
    rgba(172, 188, 216, 1) 7%,
    rgba(175, 189, 214, 1) 46%,
    rgba(193, 195, 199, 1) 77%,
    rgba(147, 193, 222, 1) 100%
  );
  display: flex;
  flex-direction: column;
}
.lft{
  margin-top: 10px;
}

.each_box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid red; */
  border-radius: 8px;
  padding: 7px;
  width: 50%;
  position: relative;
  margin: 4px;

  background: radial-gradient(
    circle,
    rgba(172, 188, 216, 1) 7%,
    rgba(175, 189, 214, 1) 46%,
    rgba(193, 195, 199, 1) 77%,
    rgba(147, 193, 222, 1) 100%
  );
}
input {
  /* margin: auto;
   */
  position: relative;
  /* right: 0;
    */
  left: 40px;
  height: 26px;
}
#left_box{
  font-size: 13px;
  padding-top: 50px;
  
}
.lft{
  margin-left: 40px;
  font-size: 24px;
  margin-right: 10px;


}

.top{
  font-weight: bolder;
  font-size: 40px;
  text-shadow: #282c34 3px 3px 5px;
  padding-left: 35PX;
}
.lft{
  text-shadow: #282c34 3px 3px 5px;
  font-family: Georgia, 'Times New Roman', Times, serifS;
  text-align: justify;
}
.output {
  font-size: 38px;
  margin-top: 10px;
}
h1 {
  margin: auto;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 39px;
}

.outbox_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  font-size: 15px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  cursor: pointer;
  /* margin-bottom: 20px; */
}

button:hover {
  font-size: 17px;
  background-color: grey;
}

label {
  position: absolute;
  left: 10%;
  font-weight: 700;
}

button {
  margin-top: 15px;
}
label {
  display: inline;
}
input {
  border: 1px solid gray;
  border-radius: 3px;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.box{
  width: 50vw;
  /* height: 70vh; */
  /* background-color: red; */
}
.two_boxes{
  display: flex;
  margin-top: 30px;
  /* padding-bottom: 100px; */

}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
@media screen and (max-width: 1000px) {
  .navbar_heading{
    display: none;
  }
 }
@media screen and (max-width: 1000px ){
.two_boxes{
  display: flex;
  flex-direction: column;
}
.box{
  width: 100vw;
}

}